body {
  /*background: black;*/
  overflow: hidden;
  font-family: sans-serif;
  /*background: lime;*/
}

h1 {
  color: maroon;
}


.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}


.audio-player {
	position: absolute;
	top: 15px;
	left: 15px;
	z-index: 99999;
}

.boom-container {
  display: flex;
  height: 52px;
  width: 100vw;
  align-items: center;
  border-bottom: 1px solid rgba(55,55,110,0.4);
}

.viz-button {
  outline: none;
  background: none;

}


