body {
  /*background: black;*/
  overflow: hidden;
  font-family: sans-serif;
  /*background: lime;*/
}

h1 {
  color: maroon;
}


.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}


.audio-player {
	position: absolute;
	top: 15px;
	left: 15px;
	z-index: 99999;
}

.boom-container {
  display: flex;
  flex-direction: column;

}

.viz-button {
  outline: none;
  background: none;

}


   body {
        display: flex;
        /*background: black;*/
        background: #090909;
    }


    canvas {
        background: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        /*top: 150px;*/
        /*right: 0;*/
        /*z-index: -1;*/
    }

    h1 {
        font-family: 'Bungee Hairline', cursive;
        font-size: 40px;
        color: orange;
        padding-left: 50px;
    }

    audio::-webkit-media-controls-panel {
        background: none;
    }

    audio::-webkit-media-controls-play-button {
        background: none;
        color: white;
    }

    audio::-webkit-media-controls-play-button>* {
        background: white;
        color: white;
    }

    nav {
        display: flex;
        align-items: center;
        height: 50px;
        width: 100%;
      height: 72px;
      width: 100vw;
      align-items: center;
      border-bottom: 1px solid rgba(55,55,110,0.4);
    }


    input {
        display: none;
    }

    audio {
        width: 450px;
        margin-left: 120px;
    }



    aside {
        display: flex;
        width: 300px;
        margin: 0 auto;
        padding: 10px;
    }


    .viz-button {
        outline: none;
        background: none;
        font-family: 'Bungee Hairline', cursive;
        color: white;
        border: 1px solid white;
        transition-duration: 0.3s;
        margin: 10px;
        font-size: 20px;
        font-weight: bold;
    }

    .viz-button:hover {
        color: lightblue;
        border: 1px solid lightblue;
        background: rgba(55, 150, 150, 0.4);
        cursor: pointer;
    }


     .highlighted {
        color: orange;
        border: 1px solid orange;
    }

.credit {
  font-family: 'Bungee Hairline', cursive;
  color: lightblue;
  font-size: 12px;
  
}
a.credit {
  font-size: 16px;
  padding: 3px;
  margin-left: 20px;
  width: 127px;
  text-align: center;
}
a.credit:hover {
  color: white;
}
.credit a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  color: lightblue;

}
